# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
.env
*.log
.pytest_cache/
.mypy_cache/

.fastf1_cache/
# Editors/OS
.vscode/
.idea/
.DS_Store

# Docker
*.pid
# local volumes (if any)
pgdata/

# ML artifacts
models/
*.joblib

# Jupyter notebooks (if you experiment later)
.ipynb_checkpoints/
